:root{
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

  --navbar-bg: #8893f4;
  --text-box: #eeeff9
}

body,
body *{
  margin: 0;
  padding: 0;
  display: block;
}

/* navbar styles */
#navbar{
  width: calc(100vw - 2rem);
  padding: 2rem 1rem;
  display: grid;

  grid-template-columns: auto 1fr 5rem;
  min-height: min-content;
  background-color: var(--navbar-bg);
  gap: 1rem;
  position: absolute;
  top: 0;
}

#navbar .title{
  font-weight: 700;
}

#search-bar{
  margin-left: min-content;
  min-width: fit-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  gap: 1rem;
  place-items: center;
}

#search-bar .search-component{
  display: flex;
  width: 100%;
}

#search-bar label{
  margin: auto 0;
  margin-right: 0.2rem;
}

#search-bar input{
  background: var(--text-box);
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
}

#search-bar input[type="text"]{
  width: 100%;
}

#search-bar input[type="date"]{
  min-width: fit-content;
}

#search-bar input[type="submit"]{
  width: 3rem;
  height: 3rem;
  background: none;
}

/** main styles **/
#main{
  padding-top: 5rem; /* leave room for the navbar */
}
