#logout{
  margin: auto;
}

#logout:hover{
  cursor: pointer;
}

#main{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  gap: 1rem;
  margin: 1rem 2rem;
}

.admin-pane{
  border: solid 2px var(--container-outline);
  height: 100%;
  width: 100%;
  overflow-Y: scroll;
  overflow-X: hidden;
}

#add-flight,
#create-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

#add-flight{
  grid-column: 1/-1;
}

#list-users,
#list-admin{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user,
.admin{
  display: grid;
  grid-template-columns: 2rem 1fr auto;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  border: solid 2px var(--text-box);
  border-radius: 1rem;
  place-items: center;
}

.admin-account{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 800px){
  #main{
    grid-template-columns: 1fr;
  }

  .user,
  .admin{
    grid-template-columns: 1fr;
  }

  .admin-account{
    flex-direction: column;
  }
}
