:root{
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

  --navbar-bg: #8893f4;
  --text-box: #eeeff9;
  --container-outline: #d4d2ef;
  --strong-accent: #e48142;
  --background: #efe9f2;
}

body{
  background: var(--background);
}

body,
body *{
  margin: 0;
  padding: 0;
  display: block;
}

/* navbar styles */
#navbar{
  width: calc(100% - 2rem);
  padding: 1rem;
  display: grid;

  grid-template-columns: auto 1fr auto auto;
  height: 3rem;
  background-color: var(--navbar-bg);
  gap: 1rem;
  position: absolute;
  top: 0;
  transition: height 1s ease-in-out, background 1s ease-in-out;

  z-index: 1;
}

#navbar .title{
  font-weight: 700;
}
.createAccount {
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 150px;
  height: 30px;
  background-color: #93F488;
  color: black;
  border-radius: 25px;
}
.push {
  margin-left: auto;
}
#login-form {
  margin-left: center;
  height: 3rem;
  width: 5vw;
}

#login-form .login-component {
  display: grid;
  flex-grow: 1;
}

#login-form input {
  background: var(--text-box);
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

#login-form input[type="text"] {
  min-width: fit-content;
  width: 100%;
}

#login-form input[type="submit"] {
  font-size: 16px;
  text-align: left;
  background: none;
}

#search-bar{
  margin-left: auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

#search-bar.hidden{
  height: 0;
  padding: 0 0.5rem;
  transition: height 1s ease-in-out, padding 1s ease-in-out;
}

#search-bar .search-component{
  display: grid;
  flex-grow: 1;
  grid-template-columns: 4rem 1fr auto;
}

#search-bar label{
  margin: auto 0;
  margin-right: 0.2rem;
}

#search-bar input{
  background: var(--text-box);
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

#search-bar .autocomplete{
  min-width: fit-content;
  width: 100%;
}

#search-bar input[type="text"]{
  min-width: fit-content;
  width: 100%;
}

#search-bar input[type="date"]{
  min-width: fit-content;
}

#search-bar input[type="submit"]{
  width: 3rem;
  height: 3rem;
  background: none;
}

@media screen and (max-width: 800px){
  #navbar{
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr;
  }

  #search-bar{
    grid-row: 2;
    grid-column: 1/4;
    flex-direction: column;
    padding: 0.5rem;
    padding-top: 0;
    width: calc(100% - 0.5rem);

    border-radius: 0.2rem;

    height: 12rem;
    background: var(--navbar-bg);
  }
}

#search-icon:hover{
  cursor: pointer;
}

#search-icon.disabled{
  display:none;
}

/** home menu styles **/
#plane-bg{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--navbar-bg);

  transition: transform 1s ease-in-out, background 1s ease-in-out;
}

#plane-bg h1{
  position: fixed;
  font-size: 50rem;
  opacity: 0.5;
  top: 5%;
  left: -5%;

  transition: transform 1s ease-in-out;
}

#navbar.home{
  height: 100%;
  place-items: center;
  background: none;
}

#plane-bg.search{
  background: none;
}

#plane-bg.search h1{
  transform: translateX(130%) translateY(-100%);
}

@media screen and (max-width: 800px){
  #plane-bg h1{
    left: -40%;
    top: 30%;
    font-size: 30rem;
  }

  #navbar.home #search-bar{
    background: none;
  }
}

/** main styles **/
#main{
  padding-top: 5rem; /* leave room for the navbar */
}

#main .title {
  margin-top: 20px;
  padding-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

#signupForm {
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
}

.create-account-form {
  padding: 10px 10px 10px 10px;
}

.create-account-form input {
  width: 150px;
  height: 25px;
  border-radius: 8px;
}

.create-account-form select {
  width: 150px;
  height: 25px;
  border-radius: 8px;
}

.create-account-form ::placeholder {
  padding-left: 0.5rem;
}

#signupForm input[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 30px;
  background: #8893f4;
}
