#logout{
  margin: auto;
}

#logout:hover{
  cursor: pointer;
}

#main{
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  margin: 1rem 2rem;
}

#user-icon{
  height: auto;
  width: 100%;
}

.user-pane{
  border: solid 2px var(--container-outline);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

@media screen and (max-width: 800px){
  #user-info{
    grid-template-columns: 1fr;
  }
}

#user-info > form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--container-outline);
  gap: 0.5rem;
}

#current-freq-fliers{
  display: flex;
  flex-direction: column;
}

#update-freq-flyers > div{
  display: flex;
}

#update-account > .form-buttons{
  display: flex;
  margin: 2rem 0;
  gap: 3rem;
}

#reservations{
  grid-column: 1/-1;
  margin: 1rem;

  overflow-Y: scroll;
  gap: 1rem;

  height: min-content;
}

.reservation{
  height: min-content;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  border: solid 2px var(--strong-accent);
  border-radius: 1rem;
  overflow-X: hidden;
}

.reservation > h1{
  width: 100%;
  line-height: 200%;
  background-color: var(--strong-accent);
  padding-left: 1rem;
  grid-column: 1/-1;
}

.reservation-details{
  padding: 1rem 2rem;
}

.yeet-reservation{
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.yeet-reservation:hover{
  cursor:pointer;
}
